Related: Crowd Control

Control requires property ownership and promises from others to complete work.

Separating Property from Promise allows specialization and freedom.

The GNU GPL shows us workers are even *more* free when end users are the owners, for then any skill can be applied without buying or renting property.

Every worker is a consumer who must also control the sources of the products they need.
