Related: Crowd Control, property, skill

We need control for personal autonomy and social sovereignty.

Control requires ownership to set destination, but also implies skill in navigation.

For example, of course you want to control your destination, but also want the pilots apply their skill to control the immediate navigation.

Separating Property from Promise allows specialization and freedom.

What words separate these roles?
