Final control rests in property ownership.

But this word is also used to describe worker interaction with sources.

This might be part of the unfortunate assumption that workers must own.

For example, of course you want to control your destination, but also want the pilots to control the immediate navigation.

Maybe we need two words to separate these roles.
